/***RESPONSIVE***/
@media only screen and (max-width: 1192px){
    .content{
        padding-inline-start: 150px;
        padding-inline-end: 150px;
    }
}
@media only screen and (max-width: 970px){
    .content{
        padding-inline-start: 80px;
        padding-inline-end: 80px;
    }
    .coverPage_form::before{
        display: none;
    }
    .pointOfSalesCarousel_content_items img {
        width: 90px;
        height: 90px;
    }
    .footer_content1 p{
        font-size: 13px;
        line-height: 2;
    }
    .footer_content1_logo img{
        width: 100px;
    }
    .footer_content_copyright{
        font-size: 13px;
    }
    .footer_content2 ul li{
        font-size: 13px;
    }
}
@media only screen and (max-width: 840px){
    .header_navigation {
        display: none;
    }
    .hamburger_container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .pointOfSales_content .content{
        grid-template-columns: 1fr;
        height: auto;
        padding-bottom: 50px;
    }
    .pointOfSales_content_img {
        display: none;
    }
    .pointOfSalesCarousel_content_items img {
        width: 90px;
        height: 90px;
    }
}
@media only screen and (max-width: 768px) {
    .coverPage .content{
        grid-template-columns: 1fr;
    }
    .benefits_content_list{
        grid-template-columns: repeat(3, 1fr);
    }
    .billing h1{
        margin-bottom: 15px;
    }
    .billing_content{
        grid-template-columns: 1fr;
    }
    .footer_content{
        grid-template-columns: 1fr;
    }
    .footer_content1_social ul{
        padding: 20px 0;
    }
    .footer_content1_logo{
        text-align: start;
        padding-top: 20px;
    }
    .footer_content2{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 655px){
    .carousel {
        width: 100%;
    }
    .pointOfSalesCarousel_content_items img {
        width: 60px;
        height: 60px;
    }
}
@media only screen and (max-width: 540px){
    .benefits_content_list{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 480px){
    .content{
        padding-inline-start: 16px;
        padding-inline-end: 16px;
    }
    .coverPage_form::before{
        display: none;
    }
}
@media only screen and (max-width: 395px){
    .header .content{
        grid-template-columns: auto 1fr;
    }
    .coverPage_form .form{
        width: auto;
        height: auto;
    }
    .coverPage_form .form input{
        width: 90%;
    }
}
@media only screen and (max-width: 320px){
    .benefits_content_list{
        grid-template-columns: 1fr;
    }
    .footer_content1_social ul{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .footer_content{
        overflow: hidden;
    }
    .footer_content1_social ul li{
        margin: 10px;
    }
    .digitalProducts_carousel button{
        width: 100%;
    }
    .pointOfSalesCarousel_content button{
        width: 100%;
    }
}