:root
{
    --textcolor: #202647;
    --whitecolor: #fff;
    --darkredcolor: #F10A50;
    --parrafo: #354455;
}

h1, h2, h3, h4, h5, h6{
    color: var(--textcolor);
}
p{
    color: var(--parrafo);
}

/*********************************
 Main Navigation
*********************************/

.main_nav ul li a
{
    color: var(--whitecolor);
}
.main_nav ul li a:hover
{
    color: #DFE351;
}

/*********************************
 Header
*********************************/

.header
{
    background-color: var(--darkredcolor);
    opacity: 0.94;
}
.header.scrolled
{
    background-color: var(--darkredcolor);
}

/*********************************
 Hero
*********************************/

.hero_slider_nav div i
{
    color: var(--darkredcolor);
}

/*cambia el color de la flecha derecha e izquierda del inicio*/
.hero_slider_nav div::before
{
    background: red;
}

/*********************************
 Services Slider
*********************************/

/*borde*/
.services_slider .owl-item.center .services_item_inner
{
    border: 5px solid #D51528;
}
/** emogi active color*/
.services_slider .owl-item.center .services_item_inner i
{
    color: #D51528;
}
/*button active*/
.services_item_inner .service_item_button
{
    background: transparent;
    border: solid 2px var(--darkredcolor);
}
.services_item_inner .service_item_button a
{
    color: red;
}
.services_item_inner .service_item_button a:hover
{
    color: white;
}
/*button active hover*/
.services_item_inner .service_item_button:hover
{
    background: var(--darkredcolor);
}
/*emogi*/
.service_item_icon .icon
{
    color: #D51528;
}
/* arrows direction color*/
.services_slider_nav:hover i
{
	color: #D51528;
}
.services_slider .owl-item.center .services_item .services_item_inner h2, .services_slider .owl-item.center .services_item .services_item_inner h1 
{
    color: black; 
}
.services_slider .owl-item.center .services_item .services_item_inner p
{
    color: #181F27;
}

/*background*/
.services_slider .owl-item.center .services_item_inner 
{
    background: #fff;
}

/*********************************
 owl carouel 
*********************************/

/*** modificar los colores del html ----- inicio de la imagennn y facturacipon electronica*/
.owl-carousel .owl-item span
{
    color: white;
}

/*********************************
 Buttons
*********************************/
.button{
    border: solid 3px #B31A25;
    color: #B31A25;
}
.button:hover{
    background: #B31A25;
    color: white;
}
.button a{
    color: #B31A25;
}
#divEnviarInfo .button{
    background: #B31A25;
    color: white;
}
#divEnviarInfo .button:hover{
    background: red;
    border: red;
}
/*********************************
 Footer
*********************************/
.footer_logo a
{
    color: white;
}
.footer_logo a:hover{
    color: #F10A50;
}
.footer_social ul li a i
{
    color: #c4c4c4;
}

.footer_social ul li a:hover i
{
    color: #F10A50;
}
body > div > footer {
    background: #181F27;
}
body > div > footer > div > div:nth-child(1) > div:nth-child(1) > div > p
{
    color: white
}
.footer_col_title
{
    color: white
}
.footer_col ul li a:hover
{
    color: white;
}

/*********************************
 owl carouel 
*********************************/

/*------contactanos -----------*/
#divContactanos
{
    background-color: #273240;
}
.newsletter_title h1
{
    color: white;
}
.newsletter_title span
{
    color: #909090;
}
#correoSolicitud
{
    background-color: white;
}
.newsletter_email
{
    color: black;
}

/*********************************
 Background Registrate/Consultar/Inisiar sesión
*********************************/

.bg-gradient-primary
{
    background: #D51528
}

/*********************************
 Menú
*********************************/

.menu_container
{
    width: 250px;
    background: #181F27;
}
.menu_close:hover i
{
    color: #F10A50;
}
.menu ul
{
    padding-right: 0px;
    list-style-type: none;
}
.menu ul li
{
    position: relative;
    display: block;
    text-align: right;
    animation: all 10s;
}
.menu ul li a
{
    position: relative;
    display: block;
    margin: 0;
    padding: 15px 20px;
    color: var(--whitecolor);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.menu ul li a::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 250ms ease;
    z-index: -1;
}
.menu ul li a:hover
{
    color: var(--darkredcolor);
    transition: .8s;
}
.menu ul li a:hover::before
{
    width: 100%;
    height: 100%;
    background-color: var(--whitecolor);
    transition: width 250ms ease;
}
.hamburger_container i:hover
{
    color: #181F27;
}

/*********************************
 Button Registrate/Consultar/Inisiar sesión
*********************************/

.btn-primary   
{
    color: white;
    background-color: #B31A25;
    border: none;
}
.btn-primary:hover
{
    background-color: red;
}
.next_section_scroll:hover i
{
	color:  red;
}

/*cheked*/
.custom-control-input:checked~.custom-control-label::before 
{
    border: none;
    background-color: #f31b07d4;
}
.v_slider .slick-dots li.slick-active button{
    background: red;
}
/* responsive menu*/
@media only screen and (max-width: 400px)
{
    .menu_container{
        width:100%
    }
}

/* links red color*/
a{
    color: #f31b07d4;
}
a:hover{
    color: red;
}
@media only screen and (max-width: 450px){
    .item_1 span:nth-child(3) {
        font-size: 40px;
    }
}

@media only screen and (max-width: 360px){
    .item_1 span:nth-child(3) {
        font-size: 28px;
    }
    .input-group{
        display: block;
    }
    .input-group input, button{
        width: 100%;
        margin: 10px 0;
    }
}

/*Modificaciones*/

body > div > footer 
{
    background: #181F27
}

body > div > footer > div > div:nth-child(1) > div:nth-child(1) > div > p
{
    color: white
}
.footer_col_title
{
    color: white
}

#owl-demo .item img
{
    display: block;
    width: 899px;
    height: auto;
    text-align: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.owl-theme .owl-nav 
{
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    z-index: 10000;
    background: transparent;
}

.owl-theme .owl-nav [class*='owl-'] 
{
    color: #FFF;
    font-size: 20px;
    margin: 5px;
    padding: 4px 7px;
    background: #E0212F;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.services 
{
    color: #000;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

/*portada*/
.portada
{
    background: #faebeb;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 30px 30px 30px;
    text-align: center;
    gap: 15px;
    margin-top: 120px;
}
.portada .info .image
{
    width: 100%
}
.portada .info .image img
{
    width: 400px;
}
.form
{
    position: relative; 
    width: auto;
    margin: auto;   
}
.form .container
{
    padding: 0;
    padding: 15px 50px;
    width: 100%;
    background: #191717;
    border-radius: 0 0 40px 40px;
}
.form .container input
{
    width: 100%;
    display: block;
    margin: 15px 0;
    padding: 0 15px;
}
.form  h2
{
    position: relative;
    background: #F10A50;
    color: white;
    padding: 15px;
    margin: 0;
    border-radius: 40px 40px 0 0;
}
.form::before   
{
    content: '';  
    position: absolute;
    background-image: url(../images/fond-form.png);
    left: 20px;
    top: -20px;
    width: 100%;
    height: 90%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.portada .info .logo
{
    padding: 0;
}
.portada #divEnviarInfo
{
    padding-bottom: 14px;
}

#divTarifas > div{
    margin-top: 0px;
}
.form #divEnviarInfo .button{
    background: #32A193;
    border: none;
    border-radius: 30px;
    width: 100%;
    height: 40px;
}
/*beneficios*/
.benefits{
    width: 100%;
    background: #131313;
}
.benefits h2{
    color: #F10A50;
    padding-bottom: 35px;
}
.benefits .content{
   padding: 20px 45px;
}
.benefits .content .list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100%;
    gap: 20px;
}
.benefits .content .icon{
    text-align: center;
    width: 100%;
}
.benefits p{
    color: white;
    margin-top: 16px;
}
.benefits .icon img{
    width: 120px;
    height: 120px;
}

.electronic_billing{
    padding: 20px 45px;
}
.electronic_billing .content{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
    margin: auto;
}
.electronic_billing .content_info{
    margin: auto;
}
.electronic_billing li{
    list-style-type: disc;
    margin-left: 30px;
}
.electronic_billing .content_info div{
    text-align: center;
}
.electronic_billing span{
    display: block; 
    text-align: center;
}
.electronic_billing .content_image{
    margin: auto;
}
.electronic_billing .content_image img{
    width: 100%;
}
/*Productos Digitales y Equipos*/
#divTarifas{
    background-color: #FBE9E9;
    padding: 20px 40px;
    background-image: url(../images/svg/productos-vector.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

/*Punto de ventas*/

.point_of_sales h2{
    color: #E90A4D;
}
.point_of_sales span{
    color: #BCE90A;
}
.point_of_sales p{
    color: white;
}
.point_of_sales .content_info{
    display: grid;
    padding: 20px 40px 0px 40px;
    background: #131313;
    height: 230px;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
.point_of_sales .content_info img{
    position: relative;
    width: 380px;
    height: 400px;
    top: -185px;
}
.point_of_sales .owl-theme .owl-nav 
{
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    z-index: 10000;
    background: transparent;
}

.point_of_sales .owl-theme .owl-nav [class*='owl-'] 
{
    color: #FFF;
    font-size: 20px;
    margin: 5px;
    padding: 4px 7px;
    background: #E0212F;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
.point_of_sales .content_info_img{
    margin: auto;
}

/*responsive*/
@media only screen and (max-width: 789px){
    .portada{
        grid-template-columns: 1fr;
    }
    .benefits .content .list{
        grid-template-columns: repeat(3, 1fr);
    }
    .electronic_billing .content{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 710px){
    .point_of_sales .content_info{
        grid-template-columns: 1fr;
    }
    /*
    .point_of_sales .content_info img{
        top: 0;
        width: 100%;
        height: 100%;
    }
    .point_of_sales .content_info{
        height: auto;
    }*/
    .point_of_sales .content_info_img{
        display: none;
    }
    .point_of_sales .content_info{
        height: auto;
    }
}
@media only screen and (max-width: 500px){
    .benefits .content .list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 481px){
    .portada{
        margin-top: 40px;
    }
}
@media only screen and (max-width: 425px){
    .portada .info .image img {
        width: 100%;
    }
}

@media only screen and (max-width: 400px)
{
	.benefits .content .list{
        grid-template-columns: 1fr;
    }
    /*
    .point_of_sales .content_info img{
        display: none;
    }*/
}
