/* CSS DOCUMENT*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900|Roboto:300,400,500,700,900');
@font-face {
    font-family: "Open Sans Hebrew";
    src: url("../fonts/opensanshebrew-regular.ttf");
}
@font-face {
    font-family: "Baloo";
    src: url("../fonts/Baloo-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans Hebrew";
	font-size: 20px;
	line-height: 1;
	font-weight: 400;
    width: 100%;
}

h1{
    color: #F10A50;
}
ul li{
    list-style: none;
    cursor: pointer;
}
ul li a{
    text-decoration: none;
}

.fa {
    color: #24344F !important;
}

button{
    text-align: center;
    border: none;
    border-radius: 40px;
    font: inherit;
    cursor: pointer;
}
/*HEADER*/
header{
    position: sticky;
    top: 0;
    z-index: 10;
    width: auto;
}
header.sticky .header{
    padding-block-start: 10px;
    padding-block-end: 10px;
    transition: 0.6s;
}
.header{
    background-color: #F10A50;
    display: grid;
    grid-template-columns: 250px 1fr;
    padding-inline-start: 275px;
    padding-inline-end: 230px;
    padding-block-start: 19px;
    padding-block-end: 19px;
    transition: .6s;
}
.header_logo img{
    width: 130px;
}
.header_navigation{
    margin: auto 0;
    transition: .6s;
}
.header_navigation ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
}
.header_navigation ul li a{
    list-style: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin: 0 5px;
}
.header_navigation li a:hover{
    color: #DFE351;
}

/*MENU*/
.menu_container{
	position: fixed;
	top: 0;
	right: -400px;
	width: 250px;
	height: 100vh;
	background: #faebeb;
	z-index: 1000;
	opacity: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.menu_container_active{
	right: 0;
	opacity: 1;
}
.menu
{
	width: 100%;
	height: 100%;
}
.menu_close
{
	position: absolute;
	top: 50px;
	right: 30px;
	cursor: pointer;
}
.menu_close i
{
	font-size: 28px;
}
.menu_close:hover i
{
	color: #E0212F;
}
.menu ul
{
	padding-top: 115px;
    padding-right: 0px;
    list-style-type: none;
}
.menu ul li
{
	position: relative;
    display: block;
    text-align: right;
    animation: all 10s;
}
.menu ul li::after
{
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: -10px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background:  #1d3784;
	content: '';
}
.menu ul li.active a
{
	font-weight: 700;
}
.menu ul li a
{
	color: #E0212F;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
    position: relative;
    display: block;
    margin: 0;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 10px;
}
.menu ul li a::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 250ms ease;
    z-index: -1;
}
.menu ul li a:hover
{
	color: white;
    transition: .8s;
}
.menu ul li a:hover::before
{
    width: 100%;
    height: 100%;
    background-color: #E0212F;
    transition: width 250ms ease;
}

/*COVER PAGE*/

.coverPage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline-start: 300px;
    padding-inline-end: 300px;
    padding-block-start: 28px;
    padding-block-end: 15px;
    background-color: #faebeb;
    gap: 45px;
}
.coverPage_img{
    margin-top: 15px;
}
.coverPage img{
    width: 90%;
}
.coverPage_info h1{
    padding-bottom: 5px;
}
.coverPage_info p{
    font-size: 12px;
    padding-left: 5px;
}
.coverPage_form{
    position: relative;
    margin: 0 auto;
}
.coverPage_form h2{
    position: relative;
    color: white;
    background-color: #F10A50;
    padding: 12px 0;
    border-radius: 40px 40px 0 0;
    text-align: center;
}
.coverPage_form form{
    position: relative;
    background-color: #131313;
    border-radius: 0 0 40px 40px;
    padding: 20px 45px;
}
.coverPage_form form input{
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 1em;
}
.coverPage_form button{
    background-color: #32A193;
    color: white;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
.coverPage_form::before{
    content: '';  
    position: absolute;
    background-image: url(../images/fond-form.png);
    left: 15px;
    top: -10px;
    width: 100%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*BENEFITS*/

.benefits{
    position: relative;
    width: 100%;
    background: #131313;
}
.benefits::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url(../images/benefits\ image.png);
    background-repeat: no-repeat;
   background-size: cover;
    background-position: center;
    opacity: .2;
}
.benefits h1{
    padding-bottom: 35px;
    font-weight: 600;
    font-size: 30px;
}
.benefits_content{
    position: relative;
    padding-inline-start: 300px;
    padding-inline-end: 300px;
    padding-block-start: 28px;
    padding-block-end: 28px;
}
.benefits_content_list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100%;
    gap: 25px;
}
.benefits_content .icon{
    text-align: center;
    width: 100%;
}
.benefits p{
    color: white;
    margin-top: 16px;
    font-size: 0.8em;
}
.benefits .icon img{
    width: 70px;
    height: 70px;
}

/*BILLING*/

.billing{
    padding-inline-start: 300px;
    padding-inline-end: 300px;
    padding-block-start: 28px;
    padding-block-end: 28px;
}
.billing_content{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 30px;
    margin: auto;

}
.billing_content_info{
    margin: auto;
    font-size: 0.8em;
}
.billing h1{
    color: black;
    font-weight: 700;
    font-size: 30px;
}
.billing_content ul{
    padding: 5px 0;
}
.billing_content li{
    list-style: disc;
    margin-left: 40px;
    padding: 3px 0;
}
.billing_content_info div{
    text-align: center;
}
.billing_content span{
    display: block; 
    text-align: center;
    font-size: 10px;
}
.billing_content_image{
    margin: auto;
}
.billing_content_image img{
    width: 100%;
}

/*DIGITAL PRODUCTS*/

.digitalProducts{
    padding-inline-start: 300px;
    padding-inline-end: 300px;
    padding-block-start: 15px;
    padding-block-end: 15px;
    background-color: #FBE9E9;
    background-image: url(../images/svg/productos-vector.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}
.digitalProducts h1{
    color: black;
}
.digitalProducts_carousel{
    margin: 20px 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.digitalProducts_carousel button{
    background-color: black;
    color: white;
    width: 150px;
    padding: 8px;
    font-size: 18px;
    font-weight: 700;
}
.digitalProducts_carousel_items{
    margin: auto;
}
.digitalProducts_carousel_items img{
    display: block;
    width: 300px;
    height: 200px;
}

.carousel {
    width: 500px;
}

.carousel img {
    width: 100%;
}

/*POINT OF SALES CONTENT*/

.pointOfSales_content{
    padding-inline-start: 300px;
    padding-inline-end: 300px;
    padding-block-start: 15px;
    padding-block-end: 15px;
    background: #131313;
    display: grid;
    grid-template-columns: 60% 40%;
    height: 150px;
}
.pointOfSales span{
    color: #BCE90A;
}
.pointOfSales h1{
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 15px;
}
.pointOfSales p{
    color: white;
    font-size: 21px;
}
.pointOfSales_content_img img{
    position: relative;
    width: 330px;
    height: 350px;
    top: -200px;
}

/*POINT OF SALES CAROUSEL*/

.pointOfSalesCarousel{
    position: relative;
    background-color: #D21523;
    height: 270px;
}
.pointOfSalesCarousel_content {
    position: relative;
    height: 100%;
    background-image: url(../images/svg/Potencia-punto-ventas-vector.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: -55px;
    padding-block-start: 75px;
    padding-inline-start: 300px;
    padding-inline-end: 300px;
    text-align: center;
}

.pointOfSalesCarousel_content button {
    background-color: #32A193;
    color: white;
    width: 200px;
    padding: 8px;
    margin: 10px 0;
    font-size: 18px;
    margin-top: 20px;
}
.pointOfSalesCarousel_content_items {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pointOfSalesCarousel_content_items p {
    font-size: 12px;
    margin-top: 20px;
}
.pointOfSalesCarousel_content_items img {
    width: 130px;
    height: 130px;
}

.slick-next.slick-arrow, .slick-prev.slick-arrow {
    width: 50px !important;
}

/*FOOTER+*/

.footer{
    padding-inline-start: 300px;
    padding-inline-end: 300px;
    padding-block-end: 0px;
    background-color: #131313;
}

.footer_content{
    position: relative;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 30px;
    background-color: #181F27;
    border-radius: 28px;
    padding: 20px 25px;
    color: white;
    top: -20px;
}
.footer_content1 p{
    font-size: 12px;
    line-height: 1.5;
}
.footer_content1_logo{
    text-align: center;
    padding-bottom: 25px;
}
.footer_content1_logo img{
    width: 70px;
}
.footer_content1_social ul{
    padding: 20px 0;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer_content1_social ul li{
    width: 30px;
}
.footer_content_copyright{
    font-size: 12px;
}
.footer_content1_social img{
    width: 30px;
    margin: 0;
    padding: 0;
}
.footer_content2{
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    line-height: 2.5;
}
.footer_content2 ul li{
    font-size: 13px;
    margin: 10px 0;
    line-height: 1.5;
}
.footer_content2 ul li a{
    color: #909090;
}
.footer_content2 ul li a:hover{
    color: white;
}

.hamburger_container {
    display: none;
    cursor: pointer;
    flex-basis: 40px;
    text-align: right;
}

.hamburger_container i{
    font-size: 33px;
}
.hamburger_container i:hover
{
    color: darkred;
}
.footer_content2_title {
    font-size: 15px;
    line-height: 16px;
    margin: 10px 0;
}